body{
    background-color: #669900;
}

.mid-container{
    margin:12px auto 0px  auto;
    width:640px;
    height:100%;
}

.header-logo{
    background-color: #99cc00;
    width:100%;
    height:80px;
}

header{
    border-bottom: 1px solid;
    border-bottom-style: dotted;
}

.header-div-one{
    font-size:14px;
}

.qns-label{
    font-size: 15px;
}

.qn1-select{
    font-size:14px;
}